.attribution { font-size: 17px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
    body
    {
      background-color:  hsl(185, 75%, 39%);
    }
    .top
    {
      width: 750px;
      position: relative;
      right: 300px;
      bottom: 200px;
    }
    .bottom
    {
      width: 750px;
      position: relative;
      left: 350px;
      bottom: 290px;
    }
    .main-card
    {
      background-color: whitesmoke;
      width: 400px;
      height: 400px;
      position: relative;
      bottom: 650px;
      left: 430px;
      border-radius: 25px;
    }
    .background
    {
      width: 400px;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
    }
    .profile
    {
      border-radius: 100%;
      margin-left: 140px;
      position: relative;
      bottom: 55px;
    }
    h1
    {
      position: relative;
      bottom: 60px;
      left: 125px;
      font-size: 18px;
      font-family: Kumbh Sans;
    }
    h2
    {
      position: relative;
      bottom: 70px;
      left: 155px;
      color: hsl(0, 0%, 59%);
      font-size: 18px;
    }
    hr
    {
      position: relative;
      bottom: 70px;
    }
    table
    {
      position: absolute;
      bottom: 40px;
      left: 80px;
      border-collapse: separate;
      border-spacing: 15px 5px;
      text-align: center;
      font-size: 18px;
      font-family: Kumbh Sans;
      
    }
    span
    {
      color: hsl(0, 0%, 59%);
    }